.flex-info{
         display: flex;
         justify-content: space-between;
         align-items:flex-start;
         padding: 0.5rem 3rem;
         margin: 5rem ;
        
}
.track-crypto-heading,.real-time-heading{
         font-size: 5rem;
         margin: 0;
}
.track-crypto-heading{
         color: var(--white);
}
.track-crypto-heading:hover{
         color: var(--black);
         -webkit-text-stroke-width: 1px;
         -webkit-text-stroke-color: var(--white);
         transition: all in 0.5s;
}
.real-time-heading{
         color:var(--blue);
}
.info-text{
         font-size: 1rem;
         color: var(--grey);
}
.btn-flex{
         display: flex;
         justify-content: flex-start;
         align-items: center;
         gap:1.5rem;
         margin-top :2rem; ;
}
.phone-container{
       width: 50%;
       position: relative;
       padding: 1rem;
    
}
.iphone{
         position: relative;
         z-index: 90;
         min-width: 300px;
         width: 50%;
         left:45%; 
         top: -60px;;
        
}
.gradient{
        position:absolute;
        min-width:100px;
        width:40%;
        min-height:450px;
        top:-7%;
}
@media only screen and (max-width: 1250px) {
         .track-crypto-heading,.real-time-heading{
                  font-size: 3rem;
                  margin: 0;
         }
         .iphone{
                position: relative;
                z-index: 90;
                min-width: 250px;

                left:45%; 
                top: -60px;;
               
       }
         .gradient{
                display: none;
         }
       }
@media only screen and (max-width: 1000px) {
        
         .iphone{
                  min-width: 200px;
                  width: 50%;      
         }
         .gradient{
              min-width:200px;
                   top:6rem;
          }
          .info-text{
                font-size: 0.5rem;
                color: var(--grey);
       }
       }
@media only screen and (max-width: 800px) {
         .flex-info{
              flex-direction: column;
              justify-content: center;
              align-items: center;
              
         }
      
         .phone-container{
                  margin:auto;
                  
                  margin-top: 5rem;
               
         }
         .iphone{
                 position: relative;
                 left: 0;
         }
         .gradient{
                  top:-20%;
                  width: 130px;
         }
         .track-crypto-heading,.real-time-heading{
                  font-size: 2rem;
                  text-align: center;
                  
       }
       .info-text{
         font-size: 0.5rem;
         color: var(--grey);
         text-align: center;
     }
     .btn-flex{
         justify-content:center;
         align-items: center;        
      }

}
@media only screen and (max-width: 500px) {
        .track-crypto-heading,.real-time-heading{
                font-size: 1.5rem;
                text-align: center;
        

}
   .phone-container{
         padding-right: 10rem;
         
          
    
}
}
